<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>OpenerDota.js</title>
  </head>
  <body>

      {{> navbar}}

      <div class="container">
          {{{body}}}

          <div>
            <form id="test-form">
                <div>
                    <input id="test-name" type="text">
                </div>
                <div>
                    <input id="test-number" type="number">
                </div>
                <div>
                    <input id="" type="submit">
                </div>
            </form>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        (() => {
            // Example of get request sends data via the query string

            // Define some form elements 
            const testForm = document.getElementById('test-form')
            const testName = document.getElementById('test-name')
            const testNumber = document.getElementById('test-number')

            // Handle form submission
            testForm.addEventListener('submit', (e) => {
                e.preventDefault() // Prevent refreshing the page
                // Collect form data 
                const name = testName.value 
                const number = testNumber.value
                // Make a request with fetch
                fetch(`/test-route?name=${name}&number=${number}`).then((res) => {
                    return res.json()
                }).then((data) => {
                    // Handle the results
                    console.log(data)
                }).catch((err) => {
                    console.log('fetch test route error:'+err.message)
                })
            })
        })()

    (() => {
        // This section gets the data from your original form
        // define some form elements 
        const form = document.getElementById('special-form')
        const postPlayer = document.getElementById('post-player')
        const postHero = document.getElementById('post-hero')
        const postItem = document.getElementById('post-item')
        // Handle form submission
        form.addEventListener('submit', (e) => {
            e.preventDefault() // Prevent refresh
            // define some options for the request
            const options = {
                method: 'post',                  // method is post
                body: JSON.stringify({           // define the data sent to the server
                    player_id: postPlayer.value, // These value come from the form
                    hero_id: postHero.value, 
                    item_name: postItem.value
                }),
                headers: {
                    'Accept': 'application/json',       // Need this to make sure the 
                    'Content-Type': 'application/json'  // data travels correctly 
                }
            }

            // Lets look at the request before we send it
            console.log('Sending Data:')
            console.log(options)

            // Make a JS request to a route with the options above
            fetch('./new-data-api', options).then((res) => {
                return res.json()
            }).then((json) => {
                // handle json data returned from the server
                console.log('=======================')
                console.log(json)
                // Deal with JSON here!!!!!!
            }).catch((err) => {
                console.log('-- Error --')
                console.log(err.message)
            })
        })
    })()
    </script>

  </body>
</html>
