<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>OpenerDota.js</title>
  </head>
  <body>

      {{> navbar}}

      <div class="container">
          {{{body}}}

          <div>
            <form id="test-form">
                <div>
                    <input id="test-name" type="text">
                </div>
                <div>
                    <input id="test-number" type="number">
                </div>
                <div>
                    <input id="" type="submit">
                </div>
            </form>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        (() => {
            const testForm = document.getElementById('test-form')
            const testName = document.getElementById('test-name')
            const testNumber = document.getElementById('test-number')
            testForm.addEventListener('submit', (e) => {
                e.preventDefault()
                const name = testName.value
                const number = testNumber.value
                fetch(`/test-route?name=${name}&number=${number}`).then((res) => {
                    return res.json()
                }).then((data) => {
                    console.log(data)
                }).catch((err) => {
                    console.log('fetch test route error:'+err.message)
                })
            })
        })()

        const form = document.getElementById('special-form')
        const postPlayer = document.getElementById('post-player')
        const postHero = document.getElementById('post-hero')
        const postItem = document.getElementById('post-item')

        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const options = {
                method: 'post', 
                body: JSON.stringify({ 
                    player_id: postPlayer.value, 
                    hero_id: postHero.value, 
                    item_name: postItem.value
                })
            }

            console.log('Sending Data:')
            console.log(options)

            fetch('./new-data-api', options).then((res) => {
                return res.json()
            }).then((json) => {
                // handle json
                console.log('=======================')
                console.log(json)
                // Deal with JSON here!!!!!!
            }).catch((err) => {
                console.log('-- Error --')
                console.log(err.message)
            })
        })
    </script>

  </body>
</html>
