<!DOCTYPE html>
<body>
    <h1>Using OpenDota API to create meaningful data</h1>
    <div>
        Please Enter a User ID:
        <input type="number" min="1" class="id-input"></input>
    </div>
    <div>
        <span class="persona-name"></span>
    </div>
    <img class="steam-image"></img>
    <button class="load-button">Load Data</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js"></script>
    <script src="app.js"></script>
</body>
