<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form id="special-form" action="/new-data" method="post">
      <legend>New Query</legend>
      <div class="form-group">
          <label for="post-player">Player ID</label>
          <input name="player_id" type="text" class="form-control" id="post-player" value="84155330">
      </div>
      <div class="form-group">
        <label for="post-hero">Hero ID</label>
        <input type="text" name="hero_id" class="form-control" id="post-hero" value="98">
      </div>
      <div class="form-group">
        <label for="post-item">Item Name</label>
        <input type="text" name="item_name" class="form-control" id="post-item" value="soul_ring">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Submit Query</button>
      </div>
    </form>
  </div>
</div>
